.Rproj.user

/.quarto/
R\fit_glmnet_wf.rds
/.luarc.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.pytest_cache/
.mypy_cache/

docker-compose.override.yml

.env
