/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Parkinsans:wght@300..800&display=swap');
$figtree: 'Figtree', sans-serif;
$parkinsans: 'Parkinsans', sans-serif;

$dark-red: #8c1c13;
$bittersweet-shimmer: #bf4342;
$old-rose: #d38d82;
$bone: #eee3d3;
$champagne-pink: #EFD6D2;
$beaver: #a78a7f;
$liver: #54403B;
$smoky-black: #171211;


$navbar-bg: $dark-red;
$navbar-fg: $bone;
$navbar-hl: $champagne-pink;
$title-block-bg: $bittersweet-shimmer;
$headers: $dark-red;
$subheaders: $bittersweet-shimmer;


$body-bg: $bone;
$body-color: $smoky-black;
$footer-bg: $dark-red;
$link-color: $liver;

$btn-bg: $liver;
$btn-color: $bone;
$btn-border-color: $smoky-black;

$code-bg: $champagne-pink;
$code-color: $liver;

$code-block-bg: $champagne-pink;

/*-- scss:rules --*/

/* ELEMENT SELECTORS */

quarto-document-content {
  font-family: $figtree;
  font-size: 1.2em;
  color: $body-color;
  background-color: $body-bg;
}

quarto-document-content h1, quarto-document-content h2, quarto-document-content h3, quarto-document-content h4, quarto-document-content h5, quarto-document-content h6 {
  font-family: $parkinsans;
  color: $headers;
}

.reveal h1, .reveal h2 {
  font-family: $parkinsans;
  color: $headers;
}
.reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: $parkinsans;
  color: $subheaders;
;
}

.card-title {
  font-family: $parkinsans;
  color: $smoky-black;
}

quarto-document-content .footnote {
  font-size: 0.8em;
  color: $navbar-fg;
  background-color: $footer-bg;
}

quarto-document-content a {
  color: $link-color;
}

quarto-document-content a:hover {
  color: $beaver;
}

quarto-document-content p code {
  background-color: $code-bg;
  color: $code-color;
  padding: 0.2em;
  border-radius: 0.2em;
}

quarto-document-content pre code {
  background-color: $code-block-bg;
  color: $code-color;
  padding: 0.2em;
  border-radius: 0.2em;
}

quarto-document-content blockquote {
  border-left: 5px solid $dark-red;
  padding-left: 1em;
  margin-left: 0;
}

quarto-document {
  font-family: $figtree;
  font-size: 1.2em;
  color: $body-color;
  background-color: $body-bg;
}

.menu-text span {
  font-family: $parkinsans;
  color: $body-color;
}

.quarto-header {
  background-color: $navbar-bg;
}

.nav-footer {
  background-color: $footer-bg;
}

/* Only background in the block and not in the whole header
#title-block-header {
  background-color: $title-block-bg;
}
*/

.btn {
  background-color: $btn-bg;
  color: $btn-color;
  border-color: $btn-border-color;
}


.border {
  border: 1px solid #dee2e6;
}

.border-thick {
  border-width: 3px;
}
