/*-- scss:defaults --*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Parkinsans:wght@300..800&display=swap');
/* set the font variables */
$figtree: 'Figtree', sans-serif; 
$parkinsans: 'Parkinsans', sans-serif; 

/* Palette */
$dark-red: #8c1c13;
$bittersweet-shimmer: #bf4342;
$bone: #F4ECE2;
$bone-dark: #eee3d3;
$champagne-pink: #efd6d2;
$beaver: #a78a7f;
$liver: #54403b;
$smoky-black: #171211;

/* qualitative colors */
$dark-red: #8c1c13ff;
$cambridge-blue: #86ba90ff;
$lemon-chiffon: #f5f3bbff;
$van-dyke: #54403bff;
$buff: #df9457ff;

/* Base document colors
 navbar*/
$navbar-bg: $dark-red;
$navbar-fg: $bone; 
$navbar-hl: $champagne-pink;
$title-block-bg: $bittersweet-shimmer;
$headers: $dark-red;
$subheaders: $bittersweet-shimmer;

/* body */
$body-bg: $bone;
$body-color: $smoky-black;
$footer-bg: $dark-red; 
$link-color: $liver;
/* botton */
$btn-bg: $liver;
$btn-color: $bone;
$btn-border-color: $smoky-black;

/* Inline code*/
$code-bg: $champagne-pink;
$code-color: $liver; 

/* Code blocks*/
$code-block-bg: $champagne-pink;

/*-- scss:rules --*/

/* ELEMENT SELECTORS */

quarto-document-content {
  font-family: $figtree;
  font-size: 1.2em;
  color: $body-color;
  background-color: $body-bg;
}

quarto-document-content h1, quarto-document-content h2, quarto-document-content h3, quarto-document-content h4, quarto-document-content h5, quarto-document-content h6 {
  font-family: $parkinsans;
  color: $headers;
}

.reveal h1, .reveal h2 {
  font-family: $parkinsans;
  color: $headers;
}
.reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: $parkinsans;
  color: $subheaders;
;
}

.card-title {
  font-family: $parkinsans;
  color: $smoky-black;
}

/* footnote */
quarto-document-content .footnote {
  font-size: 0.8em;
  color: $navbar-fg;
  background-color: $footer-bg;
}

quarto-document-content a {
  color: $link-color;
}

quarto-document-content a:hover {
  color: $beaver;
}

quarto-document-content p code {
  background-color: $code-bg;
  color: $code-color;
  padding: 0.2em;
  border-radius: 0.2em;
}

quarto-document-content pre code {
  background-color: $code-block-bg;
  color: $code-color;
  padding: 0.2em;
  border-radius: 0.2em;
}

quarto-document-content blockquote {
  border-left: 5px solid $dark-red;
  padding-left: 1em;
  margin-left: 0;
}

quarto-document {
  font-family: $figtree;
  font-size: 1.2em;
  color: $body-color;
  background-color: $body-bg;
}

.menu-text span {
  font-family: $parkinsans;
  color: $body-color;
}

.quarto-header {
  background-color: $navbar-bg;
}

.nav-footer {
  background-color: $footer-bg;
}

/* Only background in the block and not in the whole header
#title-block-header {
  background-color: $title-block-bg;
}
*/

.btn {
  background-color: $btn-bg;
  color: $btn-color;
  border-color: $btn-border-color;
}


.border {
  border: 1px solid #dee2e6;
}

.border-thick {
  border-width: 3px;
}


/* slides tesi */

.reveal.smaller .slides h2 {
    font-size: calc(1.3em/0.7);
}

.reveal.smaller .slides h3 {
    font-size: calc(1.0em/0.7) !important;
}

.reveal.smaller .slides h1 {
    font-size: calc(2em/0.7);
}

#title-slide .subtitle, div.reveal div.slides section.quarto-title-block .subtitle {
    margin-bottom: 2.5rem;
    font-size: calc(1.5em/0.7);
}

$presentation-h1-font-size: 2em;
$presentation-h2-font-size: 1.4em;
$presentation-h3-font-size: 1.1em;
$callout-color-warning: $lemon-chiffon;

.reveal .slide-logo {
    display: block;
    position: fixed;
    bottom: 0;
    right: 12px;
    max-height: 4.2rem !important; /* da 2.2 a 4.2 */
    height: 100%;
    width: auto;
    z-index: 2;
}